* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.conteiner{
    display: flex;
    margin: 15px;     
    
    
}
.block{
    display: flex;
    width: 50%;
}

img{
    
    width: 250px;
    height: 190px;
}

.block_iformation{
    flex-direction: row;
}
p{
    margin: 15px;
    /* width: 90%; */

/* }
p:first-child{
    background-color: #5be78a;
}
p:last-child{
    background-color: #1d803e;
}

.center{
    width: 100%;
}
.left,
.right{
    flex:none;
    width: 300px;
    background-color: #b05ae9;
}
footer{
    margin: 15px;
    width: 100%;    
} */ 


header{
    display: flex;
    justify-content: space-between;
    min-width: 630px;
    height: 85px;
    background-color: goldenrod;
}
.logo{
    display: flex;
    margin-left: 45px;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
    text-align: center;
    min-width: 95px;
}

a{
   text-decoration: none;
   color: white;
   text-shadow: 2px 2px gray;
   font-weight: bolder;
   text-transform: uppercase; 
}

h1,h2{
    color: white;
    text-shadow: 2px 2px black;

    /* BOX BOX-BLOCK*/
    /* BOX BOX-BLOCK*/
}
.box{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     min-width: 960px;
     height: 500px;
    }


.box-block:nth-child(1){
    width: 300px;
    /* justify-content: space-around; */
    background-color: #f7a27b;
}

.box-block {
    flex-grow: 1;
    height: 450px;
    background-color: white;
}

.box-block:nth-child(3) {
    /* justify-content: space-around; */
    background-color: #f7a27b;
    width: 300px;
}

.footer{
    width: 100%;
    /* flex-wrap: nowrap; */
}